html, body {
    background: #2b5adc!important;
}

.intro-page {
    color: #fff;
}

.intro-page h1 {
    font-size: 4em;
}

.intro-page h2 {
    font-size: 2em;
}

a {
    color: #749160;
}

a:hover {
    color: #93b479;
}


.container {
    background: transparent!important;
}

.frame {
    padding: 20px 0 40px 0;
    margin: 0 auto;
    margin-top: 50px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.content {
    padding: 20px 0 40px 0;
    margin-top: 50px;
}

.text-center {
    text-align: center;
}




/** BUTTONS **/

a.primary-btn, input[type=submit] {
    background: #749160 ;
    color: #fff;
}

a.primary-btn, input[type=submit]:hover {
    color: #000;
}

a.secondary-btn {
    border: 2px solid #749160;
}

a.secondary-btn:hover {
    color: #749160;
}

a.tertiary-btn {
    background: #8D7966;
    color: #fff;
}

a.tertiary-btn:hover {
    background: #fff;
    border: 2px solid #8D7966;
    color: #000;
}