<div class="container mt-5 border">
    <div class="my-5 text-center">
        <h1>Please create your account</h1>

        <% unless locals.empty? %>
            <%= message %>
        <% end %>
        <form action="/signup" method="POST">
            <label>Username</label>
            <input type="text" name="username" id="username">
            <br>
            <label>Email</label>
            <input type="text" name="email" id="email">
            <br>
            <label class="pr-1">Password </label>
            <input type="text" name="password" id="password">
            <br>
            <input type="submit" value="Create Account" class="btn btn-success">
        </form>
    </div>
</div>