<div class="container mt-5 border">
    <div class="my-5 text-center">
        <h1>Please login</h1>
        <form action="/login" method="POST">
            <label>Username</label>
            <input type="text" name="username">
            <br>
            <label class="pr-1">Password </label>
            <input type="text" name="password">
            <br>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
</div>