<div class="col-sm-12 white-bg mt-5">
  <div class="content ml-5">
        <form action="/logout" method="post">
            Logout?
            <input type="submit" name="logout" value="Log Out">
        </form>
    </div>
</div>