<div class="container mt-5">
  <h2>Create a Workorder</h2>
  <form action="/workorders" method="POST">
    <p>Workorder Details: <input type="text" name="content"></p>
    <input class="btn btn-primary" type="submit" value="submit">
  </form>

</div>
