<div class="container">
  <h2>Edit your Workorder</h2>
  <form action="/workorders/<%= @workorder.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="patch">
  <h3>Edit Workorder: <input type="text" name="content" id="workorder_content" value="<%= @workorder.content %>"><br></h3>
  

  <input type="submit" value="Update Workorder" class="btn btn-outline-info">

</div>