<div class="col-sm-12">
  <div class="content ml-5">
    <h2 class="mb-5">Create a new Workorder</h2>
      <form action="/workorders" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Workorder!" id="submit">
      </form>
  </div>
</div>
 