<p><%= @workorder.content %></p>

<form method="POST" action="/workorders/<%=@workorder.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Workorder">
</form>

<a href="/workorders/<%=@workorder.id%>/edit">Edit Workorder </a>