<div class="container">
    <p><%= @workorder.name %></p>
    

<form method="POST" action="/workorder/<%=@workorder.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Workorder" class="btn btn-danger">
</form>

<a href="/workorders/<%=@workorder.id%>/edit" class="btn btn-outline-info">Edit Workorder </a>
</div>
