<div class="col-sm-12 text-center">
<div class="content">
    <h1>Welcome to Workorders!</h1>
    
    <div class="mt-5">
        <a class="btn primary-btn mr-2" href="/login">Login</a>
        <a class="btn secondary-btn" href="/signup">Sign Up</a>
    </div>
    </div>
</div>

