<div class="container mt-5 border">
    <div class="my-5 text-center">
        <h1>Welcome to Work Order Management</h1>
        <div class="my-5">
            <a href="/login" class="btn btn-primary mr-3">Login</a>
            <a href="users/create_user" class="btn btn-secondary">Create Account</a>
        </div>
    </div>
</div>

