
<section id="login-signup">
  <div class="container-fluid">
    <h1 class="text-center mb-5">Making work order management a breeze</h1>
    <div class="row gx-4">
      <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="card text-white mb-3 p-5 login">
          <div class="card-body">
            <h3 class="card-title mb-5">Sign In</h3>
            <p class="card-text">Returning?</p>
            <p class="card-text">Just Sign In to resume what you were doing</p>
            <a class="btn btn-light px-4 mt-5" href="/login">Sign In</a>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-white mb-3 p-5 create-account">
          <div class="card-body">
            <h3 class="card-title mb-5">Sign Up</h3>
            <p class="card-text">New here?</p>
            <p class="card-text">Don't worry just sign up to gain access to this amazing app</p>
            <a class="btn btn-light px-4 mt-5" href="/signup">Sign Up</a>
          </div>
        </div>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
