<div class="col-sm-12">
    <div class="content intro-page">
        <h1>My<br> Amazing<br> Company</h1>
        <h2>Making work order management a breeze</h2>
        <div class="mt-5">
            <a class="btn primary-btn mr-2" href="/login">Login</a>
            <a class="btn secondary-btn" href="/signup">Sign Up</a>
        </div>
    </div>
</div>

